/* Cursor gravity styles */

body.gravity-loaded,
body.gravity-loaded * {
  cursor: none !important;
}

body.gravity-loaded .gravity-cursor {
  position: fixed;
  z-index: 123456789;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.2);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: .1s opacity;
}

body.gravity-loaded.gravity-activated:not(.orbitting) .gravity-cursor {
  opacity: 1;
}

body.gravity-loaded.orbitting .gravity-cursor {
  opacity: 0;
}

body.gravity-loaded .has-gravity {
  transition: .3s all cubic-bezier(.13,.78,.69,.99);
}

body.gravity-loaded .has-gravity.been-awhile {
  transition: none;
}